<footer class="bg-passire px-auto py-24 text-center text-white space-y-6">
  <h1 class="text-3xl font-bold">CELEBRA CON NOSOTROS</h1>
  <p class="text-lg font-thin"></p>
  <!-- <a href="/contacto">Contacto</a> -->
  <p>Copyright © {new Date().getFullYear()} <span class="font-bold">Andev Development</span>. Todos los derechos reservados</p>
</footer>